body {
  font-family: "Cardo:wght@400", serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  text-transform: uppercase;
  font-family: "Cardo:wght@700", serif;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  padding: 7rem;
  text-align: center;
  color: black;
  text-shadow: 1rem 1rem 5rem gray;
  background-color: rgb(255, 248, 230);
  margin: 0;
}

h2 {
  color: rgb(209, 192, 36);
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 2vw;
  padding-left: 10vw;
  text-transform: uppercase;
  width: 80vw;
  align-content: center;
}

p {
  padding: 5vh 10vw;
}

.project p {
  width: 60vw;
  padding: 0 3rem;
  line-height: 2rem;
}

.menu a {
  color: black;
  display: flex;
  justify-content: center;
}

ul.menu {
  margin-top: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2.5rem;
  letter-spacing: 0.25rem;
  background-color: blanchedalmond;
  box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.05);
  margin-bottom: 10rem;
}

img.divisor {
  width: 90vw;
  height: 30px;
  margin: auto;
  padding: 3rem;
  display: block;
}

.project {
  display: flex;
  padding: 0 5vw 0 5vw;
  margin: auto;
  width: 80vw;
}

.project img {
  width: 32rem;
  margin: auto;
  margin-top: 1rem;
  display: block;
}

figcaption {
  width: 32rem;
  padding: 2rem;
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.images img {
  width: 30vw;
}
